/*csslint universal-selector: false, ids: false*/


/*UNIVERSAL  SELECTOR*/

* {
 box-sizing:  border-box;
}
/************************************
GENERAL
*************************************/

body {
	margin: 0;
	font-family: 'Lobster', cursive;
	line-height: 1.5;
}

.main-header {
   height: 850px;
	 padding-top:  170px;
	 /*background-image: url('../img/mountains.jpg');*/
	 /*background-image:  radial-gradient(circle at top, #ffa949, firebrick);*/
	 /*background-image: linear-gradient(#ffa949, firebrick);*/
	 background: linear-gradient(#ffa949, transparent 90%), 
	             linear-gradient(0deg, #fff, transparent),
		           #ffa949 url('../img/mountains.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.main-header, .title {
	text-align: center;
}

.title {
	/*To change font-size from px to em.  Do this  simple equation. 
		Whatever the desired pixel is / 16.
		26px/16px =
		*/
	font-size: 1.625em;
	 color: white;
	 letter-spacing: .065em;
	 font-weight: 200;
	 border-bottom: 2px solid;
	 padding-bottom:  10px;
}

.primary-content {
	text-align: center;
	padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid #dfe2e6;
}

.primary-content, .secondary-content {
	width: 75%;
	margin: auto;
	padding-right: 50px;
	padding-left:  50px;
	max-width:  900px;
}

.t-border {
	border-top: 2px solid red;
}

/*ul li {
	margin-bottom: 5px;
}*/

ul, ol {
  margin-left: 30px 0;
}
 
li {
   margin-bottom : 10px;
}
.arrow {
 width: 50px;
 margin-top: 150px;
}

img  {
   width:  100%;
	 margin-bottom: 20px;
	 bborder-radius: 10px;
}

.wildlife {
	/* padding-top:  100px;
	padding-right: 120px;
	padding-bottom  100px;
	padding-left:  120px;*/
	padding: 18% 24%;
	/*two values first is for top and bottom. 2nd is for left and right.*/
	/*border-width: 10px 20px;
	 border-style: solid;
	 border-color: #ffd700;*/
	border-top: 10px solid #ffa949;
	/*When 3 values.  First one is the top.  Second  one is left  and right.  Third one is the bottom*/
	margin: 105px 0 60px;
	
	background-image: url('../img/bear.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*Box  Shadows: 1st value is horizontal. 2nd is  veritical. 3rd is blur. 4th is spread-radius*/
	box-shadow:  inset 0px 0px 50px  10px rgba(0,0,0,.8);
	border-radius:  10px;
}

.callout {
	font-size: 1.25em;
	border-bottom: 3px solid;
	padding: 0 9px 3px;
	margin-top: 20px;
	display: inline-block;
}

main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px orange;
}


/************************************
HEADLINE ELEMENTS &  P ELEMENTS
*************************************/

h1 {
	/*90px/16px*/
	font-size: 5.625em;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
	/*Text  Shadows:  1st value  is  horizontal  offset. 2nd value is vertical  offset. 3rd value is  blur. 4th is of the  color  of the 
	shadow.*/
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
	margin-bottom: 12px 0 0;
}

h2 {
	font-size: 53px;
	text-decoration: underline;
	font-weight: normal;
	/*26px/53px*/
	margin-bottom: .5em;
}

h3 {
	font-size: 20px;
	/*34/20px*/
	margin-bottom: 1.7em
}

p {

}



/************************************
FLOATED COLUMNS
*************************************/
.resorts,  .tips {
   width:  46.5%;
}
 
.resorts {
   float: left;
}
  
.tips {
   float: right;
}

.group:after {
   content: "";
	 display:  table;
	 clear: both;
		
}






/************************************
COLORS
*************************************/

body {
	color: #878787;
}

.title {
	color: white;
}

.main-header {
	background-color: #00ff7f;
}

.wildlife {
	color: white;
	background-color: #00bfff;
}

ul li {
	color: green;
	
}

h1 {
	color: white;
}

h3 {
	color: green;
}


/*CSS PSEUDO CLASS*/

a:link {
	color: gold;
	text-decoration: none;
}

a:visited {
	color: dodgerblue;
}

a:hover {
	color: yellow;
}

a:active {
	color: orange;
}

a:focus {
	color: white;
	background-color: aqua;
}


/************************************
MEDIA QUERIES
*************************************/


@media (max-width:  1024px) {
	.primary-content, .secondary-content  {
	   width: 90%;
	}
	.wildlife  {
	   padding:  10% 12%
		 margin: 50px 0 20px;
	}
}

@media (max-width:  768px){
	.primary-content, .secondary-content {
	  width:  100%;
		padding: 20px;
		border-top: none;
	}
	.main-header {
	  max-height:  380px;
		padding:  50px 25px 0;
	}
	.title{
	  font-size: 1.3rem;
		border: none;
	}
	h1 {
	  font-size 5rem: 5rem;
		Line-height:  1.1;
	}
	.arrow {
	  display: none;
	}
	.intro {
	  font-size: 1rem;
	}
	.resorts, .tips {
	  float: none;
		width: 100%;
	} 
	.main-footer {
	 padding: 20x 0;
	}
}

@media (max-width: 375px){
	h1{
	  fomt-size:  3rem;
	}
}

































